:root {
    --main-color: #b3b3b3;
    --secondary-color: #d74a4a;
    --tertiary-color: #666;
    --quaternary-color: #333;
}

.hero-about {
    background-color: #f5f5f5;
    background-image: url(../images/hero-about-1.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px;
}

.hero-about p {
    color: var(--secondary-color);
}

.hero-about a {
    color: var(--secondary-color);
}

.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notes h1 {
    transition: color 1s ease-in-out;
}

.notes h1:hover {
    color: var(--secondary-color);
}

.note-founder {
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-column: 1 / span 1;
    gap: 20px;
    justify-content: center;
    transition: transform 1s ease-in-out;
    width: 400px;
}

.note-founder:hover {
    transform: scale(1.05);
}

.note-CEO {
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-column: 2 / span 1;
    gap: 20px;
    justify-content: center;
    transition: transform 1s ease-in-out;
    width: 350px;
}

.note-CEO:hover {
    transform: scale(1.05);
}

.note-employee {
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-column: 3 / span 1;
    gap: 20px;
    justify-content: center;
    transition: transform 1s ease-in-out;
    width: 400px;
}

.note-employee:hover {
    transform: scale(1.05);
}

.mission {
    text-align: center;
    padding: 20px;

}

.mission h2 {
    color: var(--secondary-color);
}

.vision {
    text-align: center;
    padding: 20px;
}

.vision h2 {
    color: var(--secondary-color);
}

.team {
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team p {
    color: var(--main-color);
    transition: transform 2s ease-in-out;
}

.team p:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

.team-member-1 {
    transition: transform 1s ease-in-out;
    border-radius: 10px;
    margin: 50px;

}

.team-member-1 img {
    width: 1000px;
}


.team-member-1:hover {
    transform: scale(1.05);
}

.team-member-2 {
    transition: transform 1s ease-in-out;
    border-radius: 10px;
    margin: 50px;
}

.team-member-2 img {
    width: 1000px;
}

.team-member-2:hover {
    transform: scale(1.05);
}

.team-member-3 {
    transition: transform 1s ease-in-out;
}

.team-member-3 img {
    width: 1000px;
}

.team-member-3:hover {
    transform: scale(1.05);
}

body {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 1s ease-in-out;
}

a:hover {
    color: var(--secondary-color);
}

header a h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;

}

h2,
h3 {
    margin: 1em 0;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

p {
    line-height: 1.5;
    margin-bottom: 1em;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5em;
}

header {
    background-color: #fff;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
}

nav li {
    margin-right: 1em;
}


main {
    padding: 2em;

}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 1em;
    color: #999;
}