header {
font-family: Arial, sans-serif;
background-color: #004643;
color: aliceblue;
text-align: center;
padding: 10px;
}

header a {
    color:aliceblue;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
header a:hover {
    color: aliceblue;   
    background-color: #0C1618;
    border-radius: 10px;
}