header {
font-family: Arial, sans-serif;
background-color: #004643;
color: aliceblue;
text-align: center;
padding: 10px;
}

header a {
    font-weight: 700;
    color:aliceblue;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease;
    margin-right: 20px;
    margin-left: 20px;
}

header a:hover {
    color: #004643;   
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    width: 800px;
    height: 300px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

}
.card img {
    width: 500px;
    height: auto;
}

.card-one {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: 300px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

