header {
font-family: Arial, sans-serif;
background-color: #004643;
color: aliceblue;
text-align: center;
padding: 10px;
}

header a {
    font-weight: 700;
    color:aliceblue;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease;
    margin-right: 20px;
    margin-left: 20px;
}

header a:hover {
    color: #004643;   
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
}

.card {
    background-color: #ffffff; /* Background color of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow to create a card effect */
    border-radius: 8px; /* Add rounded corners for the card */
    padding: 20px; /* Add padding to the content inside the card */
    width: 700px;
    height: 300px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

}
.card img {
    width: 500px;
    height: auto;
}

