/* Media queries for larger screens */
@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .hamburger-menu {
        display: none;
        /* Hide the hamburger menu on larger screens */
    }

    nav ul {
        display: flex;
        /* Show the menu as a horizontal list */
    }

    nav ul li {
        padding: 0 15px;
    }

    main {
        padding: 20px;
    }

    .temples-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    footer {
        background-color: var(--secondary-color);
        color: var(--main-color);
        text-align: center;
        padding: 20px 0;
        font-family: "DM Serif Display", serif;
        font-weight: normal;
    }

    .sociallinks {
        margin-top: 20px;
    }

    .sociallinks a {
        margin: 0 10px;
        display: inline-block;
    }

    .sociallinks img {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease;
    }

    .sociallinks img:hover {
        transform: scale(1.2);
    }
}