/* Hero Section */
.hero {
  background-image: url("hero-image.jpg"); /* Replace with your hero image */
  background-position: center;
  background-size: cover;
  height: 250px; /* Adjust height as needed */
}

/* Content Section */
.content {
  padding: 20px;
  text-align: center; /* Center the content horizontally */
}

.content h1 {
  font-size: 2em; /* Adjust font size as needed */
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2em; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line spacing as needed */
  margin-bottom: 20px;
}

/* Data Section */
.data {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-between; /* Distribute items evenly */
  padding: 20px;
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
}

.data-label {
  font-weight: bold;
  width: 50%; /* Adjust width as needed */
  margin-bottom: 5px;
}

.data-value {
  width: 50%; /* Adjust width as needed */
}

/* Large Image Section */
.large-image {
  width: 100%; /* Display image full width */
  margin-top: 20px;
}

/* Weather Section */
.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd; /* Add a border to separate from data section */
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.weather p {
  font-size: 1em; /* Adjust font size as needed */
  margin-bottom: 0;
}

/* Footer Section */
footer {
    background-color: #16324F;
    color: #fffff7;
    text-align: center;
    padding: 5px;
}

.sociallinks {
    margin-top: 10px;
    margin-right: 650px;
}

.sociallinks a {
    margin-left: 10px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    margin-right: 30px;
    margin-top: 20px;
}

.sociallinks img:hover {
    transform: scale(1.2);
}
