:root {
    --main-color: #16324F;
    --secondary-color: #fffff7;
    --tertiary-color: #ddd;
}

body {
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    margin: 0;
    color: var(--secondary-color);
}

header {
    margin: 8px;
    text-align: center;
    color: var(--main-color);
}

header h1 {
    font-size: xx-large;
}

main {
    padding: 20px;
    text-align: center;
    background-image: url("../images/aguascalientes.webp");
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    width: 200px;
    margin: auto;
}

.data p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.data-label {
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}

.data-value {
    width: 100%;
}

.large-image {
    width: 100%;
    margin-top: 15px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid var(--tertiary-color);
    width: 300px;
    margin: auto;
}

.weather img {
    width: 60px;
    height: 60px;
}

.weather p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

footer {
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
}

.sociallinks {
    margin-top: 15px;
}

.sociallinks a {
    margin: 0 8px;
    display: inline-block;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.sociallinks img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    header {
        height: 80px;
        font-size: 1.2em;
    }

    main {
        min-height: 400px;
    }

    .content h1 {
        font-size: 1.2em;
    }

    .content p {
        font-size: 1em;
    }

    .data,
    .weather {
        width: 80%;
        position: static;
        margin: 20px auto;
    }

    .data h2,
    .weather h2 {
        position: static;
        width: auto;
        margin: 0 0 10px;
    }

    .data-value,
    .data-label {
        width: 100%;
    }

    .weather-icon {
        width: 200px;
        height: 200px;
        background-image: url('../images/weather-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .weather h2::after {
        display: none;
        content: "⛅";
        margin-left: 10px;
    }
}
