body {
    background-color: #f2f2f2;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    margin: 8px;
}

header {
    background-color: #16324F;
    color: #ffcc00;
    padding: 1rem;
    text-align: center;
}

.hero {
  height: 250px;
  background-position: center;
  background-size: cover;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.mobile-icon {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    height: 400px;
  }

  .weather {
    flex-direction: row;
    gap: 20px;
  }

  .weather-icon {
    display: none;
  }

  .weather p:nth-child(2) {
    margin-left: auto;
  }

  .weather::after {
    content: "⛅";
    font-size: 50px;
  }
}
