
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}


header {
    background-color: #EEF0F2;
    color: #ffcc00;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00; /* Change color on hover */
}

/* Main styles */
main {
    max-width: 900px; /* Example limited width */
    margin: 0 auto; /* Center horizontally */
    padding: 1rem;
}

main h2 {
    margin-bottom: 1rem;
}

figure {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}
